<h2>Привет, {{name}}!</h2>
<p>Вы запросили сброс пароля. Нажмите на кнопку ниже:</p>
<a href="{{resetUrl}}">Сбросить пароль</a>
<p>Ссылка действительна 1 час. Если вы не запрашивали сброс — проигнорируйте письмо.</p>
